---
http_interactions:
- request:
    method: get
    uri: https://staging-oauth.dossia.org/dossia-restful-api/services/v3.0/records
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: 
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<api:container xmlns:api=\"http://www.dossia.org/v2.0/api\"\n
        \              xmlns:phr=\"http://www.dossia.org/v2.0/xml/phr\"\n               xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n
        \              xsi:schemaLocation=\"http://www.dossia.org/v2.0/api http://www.dossia.org/v2.0/api/container.xsd\">\n
        \  <api:document id=\"qO7k9WDv3VSDPEwSmZ3kLYQOFlGuUcc2\">\n      <api:payload>\n
        \        <phr:Participant type=\"Primary\">\n            <phr:FullName>XIOMARA
        D BROWN</phr:FullName>\n            <phr:FirstName>XIOMARA</phr:FirstName>\n
        \           <phr:MiddleName>D</phr:MiddleName>\n            <phr:LastName>BROWN</phr:LastName>\n
        \           <phr:DateOfBirth>1931-06-18</phr:DateOfBirth>\n            <phr:Gender>Female</phr:Gender>\n
        \           <phr:Address>\n               <phr:StreetAddress1>370 HILL ST</phr:StreetAddress1>\n
        \              <phr:City>ALGER</phr:City>\n               <phr:State>OH</phr:State>\n
        \              <phr:PostalCode>45812</phr:PostalCode>\n            </phr:Address>\n
        \           <phr:Contact type=\"Email\">Xiomara@dossia.org</phr:Contact>\n
        \        </phr:Participant>\n      </api:payload>\n   </api:document>\n</api:container>"
  recorded_at: Fri, 08 Feb 2013 21:37:34 GMT
- request:
    method: get
    uri: https://staging-oauth.dossia.org/dossia-restful-api/services/v3.0/records/qO7k9WDv3VSDPEwSmZ3kLYQOFlGuUcc2/documents/document_type/?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: 
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\"
        \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n\n\n
        \   <head>\n        <meta http-equiv=\"Content-Type\" content=\"text/html;
        charset=UTF-8\" />\n        <title>Health Manager - Page not found</title>\n
        \       <style type=\"text/css\">\n\nbody {\n    background:#ebf1f5;\n    font-family:Arial,
        sans-serif;\n    padding:20px 0px;\n    text-align:center;\n}\n\nh2 {\n    color:#6da0ca;\n
        \   font-size:24px;\n    font-weight:normal;\n    margin:0; padding:0;\n}\n\nh3
        {\n    color:#6da0ca;\n    font-size:18px;\n    margin:0; padding:0px 0px
        20px 0px;\n}\n\np {\n    font-size:12px;\n    margin:0; padding:0px 0px 15px
        0px;\n}\n\ndiv#signup_hold {\n    background:#fff;\n    bor[...]
