---
http_interactions:
- request:
    method: get
    uri: https://staging-oauth.dossia.org/dossia-restful-api/services/v3.0/records
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: 
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<api:container xmlns:api=\"http://www.dossia.org/v2.0/api\"\n
        \              xmlns:phr=\"http://www.dossia.org/v2.0/xml/phr\"\n               xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n
        \              xsi:schemaLocation=\"http://www.dossia.org/v2.0/api http://www.dossia.org/v2.0/api/container.xsd\">\n
        \  <api:document id=\"qO7k9WDv3VSDPEwSmZ3kLYQOFlGuUcc2\">\n      <api:payload>\n
        \        <phr:Participant type=\"Primary\">\n            <phr:FullName>XIOMARA
        D BROWN</phr:FullName>\n            <phr:FirstName>XIOMARA</phr:FirstName>\n
        \           <phr:MiddleName>D</phr:MiddleName>\n            <phr:LastName>BROWN</phr:LastName>\n
        \           <phr:DateOfBirth>1931-06-18</phr:DateOfBirth>\n            <phr:Gender>Female</phr:Gender>\n
        \           <phr:Address>\n               <phr:StreetAddress1>370 HILL ST</phr:StreetAddress1>\n
        \              <phr:City>ALGER</phr:City>\n               <phr:State>OH</phr:State>\n
        \              <phr:PostalCode>45812</phr:PostalCode>\n            </phr:Address>\n
        \           <phr:Contact type=\"Email\">Xiomara@dossia.org</phr:Contact>\n
        \        </phr:Participant>\n      </api:payload>\n   </api:document>\n</api:container>"
  recorded_at: Fri, 08 Feb 2013 21:19:48 GMT
- request:
    method: get
    uri: https://staging-oauth.dossia.org/dossia-restful-api/services/v3.0/records/qO7k9WDv3VSDPEwSmZ3kLYQOFlGuUcc2/documents/meta
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: 
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<api:container xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n
        \              xmlns:api=\"http://www.dossia.org/v2.0/api\"\n               xsi:schemaLocation=\"http://www.dossia.org/v2.0/api
        http://www.dossia.org/v2.0/api/container.xsd\">\n   <document xmlns=\"http://www.dossia.org/v2.0/api\"
        id=\"qO7k9WDv3VRrCjHAoR62K3rV0nrXnZ2j\"\n             type=\"Measurement\"\n
        \            version=\"0\">\n      <metadata>\n         <creationDate>2012-10-04</creationDate>\n
        \        <professionallySourced>false</professionallySourced>\n         <startDate>2012-10-04</startDate>\n
        \        <class>Current Pregnant</class>\n         <classification>PHR</classification>\n
        \        <createdParticipant>Health Risk Assessment</createdParticipant>\n
        \        <schemaType>http://www.dossia.org/v2.0/xml/phr/Measurement</schemaType>\n
        \     </metadata>\n   </document>\n   <document xmlns=\"http://www.dossia.org/v2.0/api\"
        id=\"qO7k9WDv3VRrCjHAoR62K2eSU9tR08iM\"\n             type=\"Problem\"\n             version=\"0\">\n
        \     <metadata>\n         <creationDate>2012-10-04</creationDate>\n         <professionallySourced>false</professionallySourced>\n
        \        <startDate>2012-10-04</startDate>\n         <classification>PHR</classific[...]
